@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}
video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
}
.img{
    padding: 5px;
}
    
ul{
    list-style: none;
    padding-left: 0;
}
a{
    text-decoration: none;
    color: white;
}
/* Banner */
.pelicula-principal {
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(img/john-wick-4-scaled.jpg);
	background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.pelicula-principal .contenedor {
	margin: 0 auto;
	margin-bottom: 6.25em;
}

.pelicula-principal .titulo {
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;
}

.pelicula-principal .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}

.pelicula-principal .boton {
	background: rgba(0,0,0, 0.5);
	border: none;
	border-radius: 0.31em;
	padding: 0.93em 1.87em;
	color: #fff;
	margin-right: 1.25em;
	cursor: pointer;
	transition: .3s ease all;
	font-size: 1.12em;
}

.pelicula-principal .boton:hover {
	background: #fff;
	color: #000;
}

.pelicula-principal .boton i {
	margin-right: 1.25em;
}

.bannerimagen{
    opacity: 50;
    
}
.background--banner{
    height: 100vh;
    width: 90vh;
    overflow: hidden;
    opacity: 50;
}
.play{
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    height: 50px;
    width: 50px;
    
}
.banner{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    background-color: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%,rgba(0, 0, 0, .9) 1%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 1) 100%);
    opacity: 50;
}
/* Menu */
.menu{
    width: 100%;
    margin-inline:auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    font-size: 15px;
    position: fixed;
    background-color: black;
}

.navegacion{
    padding-top: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
}
@media (min-width:400px) {
    .navegacion{
        gap: 15px;
    }
}
/* Menu izquierda */
.logo{
    width: 90px;
    height: 40px;
}
@media (min-width:768px) {
    .logo{
        width: 110px;
        height: 60px;
    }
}
@media (min-width:992px) {
    .navegacion--izquierda li:nth-child(2){
        display: none;
    }
}
.navegacion--izquierda li:nth-child(3),
.navegacion--izquierda li:nth-child(4),
.navegacion--izquierda li:nth-child(5),
.navegacion--izquierda li:nth-child(6),
.navegacion--izquierda li:nth-child(7){
    display: none;
}
@media (min-width:992px) {
    .navegacion--izquierda li:nth-child(3),
    .navegacion--izquierda li:nth-child(4),
    .navegacion--izquierda li:nth-child(5),
    .navegacion--izquierda li:nth-child(6),
    .navegacion--izquierda li:nth-child(7){
        display: flex;
    }
}
/* Menu derecha */
.navegacion--derecha li:nth-child(1),
.navegacion--derecha li:nth-child(4)
{
    width: 25px;
}
.usuario{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    overflow: hidden;
}
.navegacion--derecha li:nth-child(1),
.navegacion--derecha li:nth-child(2),
.navegacion--derecha li:nth-child(3),
.navegacion--derecha li:nth-child(4){
    display: none;
}
@media (min-width:330px) {
    .navegacion--derecha li:nth-child(1),
    .navegacion--derecha li:nth-child(4){
        display: flex;
    }
}
@media (min-width:992px) {
    .navegacion--derecha li:nth-child(2),
    .navegacion--derecha li:nth-child(3){
        display: flex;
    }
}

/* footer */
.footer{
    padding-top: 20px;
    background-color: black;
}
.footer--contenedor{
    width: 95%;
    margin-inline:auto;
}
.icono{
    display: flex;
    gap: 20px;
}
.icono li{
    width: 30px;
    height: 30px;
}

.informacion{
    display: grid;
    color: rgb(133, 133, 133);
    gap: 20px;
    margin-block:20px;
    font-size: 15px;
}
@media (min-width:400px) {
    .informacion{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width:768px) {
    .informacion{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width:992px) {
    .informacion{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.informacion p:hover{
    color: white;
}
.idioma{
    color: white;
    padding: 8px;
    font-weight: 700;
}
.construccion{
    color: white;
    padding: 10px;
    font-weight: 900;
    text-align: center;
}
.catalogos{
    padding-block: 2px;
    background-color: black;
    color: white;
}
.catalogo--peliculas{
    width: 15%;
    background-color: red;
    display: inline;
}
.catalogo--peliculas h1,
.catalogo--peliculas h2{
    padding: 10px;
}

.peliculas{
    overflow-x: scroll;
    display: flex;
    gap: 12px;

}
.peliculas::-webkit-scrollbar{
    width: 0;
    height: 0;
}
.pelicula{
    min-width: 200px;
    height: auto;


}
.estrellas{
    display: flex;
    justify-content: center;
    align-items: center;

}

.pelicula-principal {
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(img/backdrop.jpg);
	background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.pelicula-principal .contenedor {
	margin: 0 auto;
	margin-bottom: 6.25em;
}

.pelicula-principal .titulo {
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;
}

.pelicula-principal .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}

.pelicula-principal .boton {
	background: rgba(0,0,0, 0.5);
	border: none;
	border-radius: 0.31em;
	padding: 0.93em 1.87em;
	color: #fff;
	margin-right: 1.25em;
	cursor: pointer;
	transition: .3s ease all;
	font-size: 1.12em;
}

.pelicula-principal .boton:hover {
	background: #fff;
	color: #000;
}

.pelicula-principal .boton i {
	margin-right: 1.25em;
}

.bannerimagen{
    opacity: 50;

}
.contenedor{
    .menu{
        width: 100%;
        margin-inline:auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
        font-size: 15px;
        position: fixed;
        background-color: black;
    }
    
    .navegacion{
        padding-top: 10px;
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 15px;
    }
    @media (min-width:400px) {
        .navegacion{
            gap: 15px;
        }
    }
}